<header>    
    <div class="container text-center">
    
    
        <div>
            <nav
                    class="navbar navbar-expand-sm bg-dark navbar-dark"
                    style="background-color: #020e17 text-center"
            >
                <!-- <div><img class="brand-logo-light" th:src="@{/pictures/RiskSafer.jpg}" alt="" width="140" height="75"></div> -->
                <a class="navbar-brand" >FUEL-D</a>
                <br>
    
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a routerLink="/main-page" class="nav-link" routerLinkActive="active">Home<span class="sr-only"></span></a>
                        </li>

                        <li class="nav-item">
  
                          <a routerLink="/order" class="nav-link" routerLinkActive="active">Order</a>
                        </li>
    
                        <li class="nav-item">
    
                          <a routerLink="/login" class="nav-link" routerLinkActive="active">Login</a>
                        </li>
                        <li class="nav-item">

                          <a routerLink="/register" class="nav-link" routerLinkActive="active">Register</a>
                      </li>
                     <!--  <li class="nav-item">
                            <li class="nav-item" sec:authorize="hasAuthority('Admin')"></li>
                            <a class="nav-link" th:href="@{/logout}">Sign Out</a>
                            <div id="account" th:text="${email}" ></div> 
                        </li> -->  
                    </ul>
                </div>
            </nav>
            
        </div>
    </div>
    </header>
<br>
<br>
<br>

<br>
<br>
<br>




<br>
<br>

<h1 class="welcome" >Welcome to Fuel Application</h1>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>

<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">
            Risk Safe<i>Get your work permits with Ease </i>
          </p>
        </div>
       
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a th:href="@{/page/index}">Home</a></li>
            <li><a th:href="@{/page/contact}">Contact Us</a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">
            Copyright &copy; 2022 All Rights Reserved by
            <a href="#">Gane</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li>
              <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
            </li>
            <li>
              <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </footer>
    